@import url('https://fonts.googleapis.com/css?family=Josefin+Sans');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    text-decoration: none;
    font-family: 'Josefin Sans', sans-serif;
}
body{
    background: #3aaf9f;
}
.wrapper{
    max-width: 350px;
    width: 100%;
    height: auto;
    background: #fff;
    padding: 60px 45px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    border-radius: 20px;
}
#age,#email,#fName,#lName{
    width: 320px;
}
form{
    margin: 200px auto;
    width: 320px;
}

input:invalid {
    border: 2px dashed red;
}
input{
    padding: 10px;
    margin: 8px 0;
    box-sizing: border-box;
}
input[type=submit]{
    background-color: #4CAF50;
    border: none;
    color: white;
    padding: 16px 32px;
    text-decoration: none;
    margin: 4px 2px;
    cursor: pointer;
}
div {
    color: red;
    font-size: medium;
    font-weight: bold;
}